/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .wrapper-width {
    width: 98vw;
  }
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 900px) {
  .wrapper-width {
    width: 98vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper-width {
    width: 82vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .wrapper-width {
    width: 84vw;
  }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1500px) {
  .wrapper-width {
    width: 86vw;
  }
}
/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1680px) {
  .wrapper-width {
    width: 88vw;
  }
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
